<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Modern UI action</Title>
      <Shortcut>muiaction</Shortcut>
      <Description>An action on the screen class, for state.bind.</Description>
      <Author>AISI Dev Co</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>action</ID>
          <ToolTip>The action's name, exactly as the graph spells it.</ToolTip>
          <Default>ActionName</Default>
        </Literal>
      </Declarations>
      <Code Language="TypeScript"><![CDATA[$action$: PXActionState;$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
