<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>client-controls imports</Title>
      <Shortcut>muiimports</Shortcut>
      <Description>The client-controls names views, fields and actions need.</Description>
      <Author>AISI Dev Co</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="TypeScript"><![CDATA[import { PXView, PXFieldState, PXFieldOptions, PXActionState, createSingle, createCollection } from "client-controls";$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
